@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	list-style-type:none
}
body{
	height:100%;
	background-color:black;
}
#wrap{
	display:grid;
}
#header_wrap{
	display:flex;
	justify-content: center;
}
#top_header{
	width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
#main_wrap{
	display: flex;
	justify-content: center;
	background-color: gray;
}
/*스크롤 해도 헤더 고정*/
header{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
main{
	width: 100vw;
	min-height: 100%;
	position:relative;
	padding: 0px;
	/*height:1200px;*/
	padding-top: 186px; /* 메인부분 시작지점(조정예정) */
	background-color: white;
}

#content{
	/*display: flex;*/
	width:100%;
	justify-content: center;
}
#visual{
	width:100%;
	height:100%;	
	/*해당 영역은 광고 영역으로 이미지에 맞춰 수정 예정*/
}

#visual .visual_inner{
	width:100%;
	background-color:#000;
}

#content ul{
	width:100%;
	height:440px;
	background-color:aquamarine;
}

#content ul li{
	width:230px;
	height:200px;
	margin:10px;
	outline:1px solid #000;
	float:left;
}

#account ul li{
	display:inline-block;
	padding-top:13px;
}

#nav{
	/*display: flex;*/
	width:100%;
	justify-content: center;
	background-color:#fff;
}
#nav_inner{
	width:1280px;
	height:130px;
	margin:0 auto;
}

/*#nav ul{
	width:200px;
	margin:0 auto;
}*/

#nav_inner ul{
	width:400px;
	height:50px;
	line-height:50px;
	margin:0;
	background-color:pink;
}

#nav_inner ul li{
	display:inline-block;
	padding-right:13px;
}

#category{
	width:600px;
	height:80px;
	background-color:aquamarine;
	float:left;
}
#category ul{
	width:100%;
	height:50px;
	margin-top:20px;
}

#search_area{
	width:50vw;
	height:50px;
	float:left;
}
#search_area form{
	width:100%;
	height:100%;	
}
#search_area div{
	width:100%;
	height:100%;
	margin-top:30px;
	margin-left:350px;
}
#search_area p{
	float:left;
}
#search_area .btnArea{
	width:40px;
	height:30px;
}
#search_area input{
	vertical-align:bottom;
}
#search_area button{
	width:40px;
	float:left;
}

footer{
	margin-top: 100px;
	display:flex;
	position: relative;
	height:20vh;
	/* transform:translateY(-100%); */
	justify-content:center;
	background-color: brown;
}

/* 방식이 바뀌면서 재설계중 */