@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

div {
	display: grid;
	justify-content: center;
}

main {
	
}

#hr1 {
	margin-top: 30px;
	width: 80vw;
	border: thin solid black;
	margin-bottom: 30px;
}

#hr2 {
	margin-top: 30px;
	width: 80vw;
	margin-bottom: 30px;
}

#sec1 {
	display: flex;
	align-items: center;
}

h2 {
	width: 200px;
}

#boardTable {
	width: 80vw;
	text-align: center;
	font-size: 1.3em;
}

#code {
	width: 10vw;
}

#title {
	width: 25vw;
}

#id {
	width: 10vw;
}

#date {
	width: 15vw;
}

#view {
	width: 10vw;
}

#boardWrite {
	margin-left: 75vw;
}

#num {
	text-align: center;
}

#boardMain-sec {
	margin-left: 15px;
	width: 18vw;
	height: 30vh;
	background-color: burlywood;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
	border: solid 1px black;
}

.boardMain-main {
	display: grid;
	justify-content: center;
	align-items: center;
}

#boardMain-title {
	cursor: pointer;
}