@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.boardMain-div {
	display: grid;
	justify-content: center;
}

#boardMain-hr1 {
	margin-top: 30px;
	width: 80vw;
	border: thin solid black;
	margin-bottom: 30px;
}

#boardMain-hr2 {
	margin-top: 30px;
	width: 80vw;
	margin-bottom: 30px;
}

#boardMain-Table {
	width: 80vw;
	text-align: center;
	font-size: 1.3em;
}

#boardMain-sec {
	margin-left: 15px;
	width: 18vw;
	height: 30vh;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
	border: solid 1px black;
}

#boardMain-title {
	cursor: pointer;
}