@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.boardList-div {
	width: 1280px;
	display: grid;
	justify-content: center;
}

#boardList-table {
	text-align: center;
}

#boardList-hr1 {
	margin-top: 30px;
	width: 1280px;
	border: thin solid black;
	margin-bottom: 30px;
}

#boardList-hr2 {
	margin-top: 30px;
	width: 1280px;
	margin-bottom: 30px;
}

#boardList-btn {
	width: 100px;
	height: 60px;
	color: white;
	background-color: black;
	margin-left: 10px;
	margin-right: 10px;
}
#boardList-form{
	display: flex;
	justify-content: center;
}