@charset "UTF-8";
                *{
            margin: 0;
            padding: 0;
        }
        .boardView-div{
            display: grid;
            justify-content: center;
        }
        #boardView-textarea{
            width: 60vw;
            height: 40vh;
            resize: none;
            margin-top: 20px;
        }
        #boardView-btn{
            height: 50px;
            width: 150px;
            background-color: black;
            color: white;
            font-size: 1em;
            border: none;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        .boardView-sec1{
            display: grid;
            grid-template-areas: 
            'arti1 arti1'
            'arti2 arti3'
            'arti4 arti5'
            ;
            gap: 50px;
        }
        #boardView-arti1{
            grid-area: arti1;
            text-align: center;
            font-size: 1.7em;
        }
        #boardView-arti2{
            grid-area: arti2;
        }
        #boardView-arti3{
            grid-area: arti3;
            text-align: right;
        }
        #boardView-arti4{
            grid-area: arti4;
        }
        #boardView-arti5{
            grid-area: arti5;
            text-align: right;
        }
        .boardView-sec2{
            display: flex;
            justify-content: center;
        }