@charset "UTF-8";
        *{
            margin: 0;
            padding: 0;
        }
        .boardWriteForm-div{
            display: grid;
            justify-content: center;
            text-align: center;
        }
        #boardWriteForm-hr1{
            margin-top: 30px;
            width: 70vw;
            border: thin solid black;
            margin-bottom: 30px;
        }
        #boardWriteForm-hr2{
            margin-top: 30px;
            width: 70vw;
            margin-bottom: 30px;
        }
        #boardWriteForm-submit{
            height: 50px;
            width: 150px;
            background-color: black;
            color: white;
            font-size: 1em;
            border: none;
            cursor: pointer;
        }
        #boardWriteForm-title{
            width: 300px;
            height: 30px;
        }
        #boardWriteForm-textarea{
            width: 500px;
            height: 300px;
            resize: none;
        }
        #boardWriteForm-password{
            width: 300px;
            height: 30px;
        }