@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.boardMain-div {
	display: grid;
	justify-content: center;
	text-align: center;
}

#boardMain-hr1 {
	margin-top: 30px;
	width: 80vw;
	border: thin solid black;
	margin-bottom: 30px;
}

#boardMain-hr2 {
	margin-top: 30px;
	width: 80vw;
	margin-bottom: 30px;
}

#boardMain-Table {
    display: grid;
	width: 80vw;
	text-align: center;
	font-size: 1.3em;
}

#boardMain-title {
	cursor: pointer;
}