@charset "UTF-8";
        .itemView-div{
            display: grid;
        }
        #itemView-sec1{
            border: solid black 1px;
            width: 1000px;
            display: flex;
        }
        #itemView-sec2{
            border: solid black 1px;
            width: 1000px;
        }
        #itemView-img{
            width: 450px;
            height: 450px;
        }
        #itemView-table{
            display: grid;
            margin-left: 30px;
        }
        #itemView-btn1{
            width: 150px;
            height: 50px;
            font-size: 1.5em;
            color: white;
            background-color: orange;
        }
        #itemView-btn2{
            width: 150px;
            height: 50px;
            font-size: 1.5em;
            color: white;
            background-color: red;
        }
        #itemView-h1{
            font-size: 2em;
        }
        #itemView-h2{
            font-size: 1.5em;
        }