@charset "UTF-8";
        *{
            margin: 0;
            padding: 0;
        }
        .itemView-div{
        	margin-top: 20px;
            display: grid;
            justify-content: center;
            width: 1280px;
        }
        #itemView-sec1{
            border: solid black 3px;
            width: 1280px;
            display: flex;
        }
        #itemView-sec2{
        	display: flex;
        }
        #itemView-sec3{
            border: solid black 3px;
            width: 1280px;
			height: 300px;
        }
        #itemView-img{
        	margin-top: 20px;
        	margin-left: 20px;
        	margin-bottom: 20px;
            width: 450px;
            height: 450px;
            border: solid gray 3px;
        }
        #itemView-table{
            display: flex;
            margin-left: 100px;
			text-align: left;
        }
        #itemView-btn1{
			margin-top: 10px;
			margin-left: 10px;
            width: 170px;
            height: 60px;
            color: white;
            background-color: red;
            font-size: 1.5em;
            cursor: pointer;
        }
        #itemView-btn2{
			margin-top: 10px;
			margin-left: 10px;
            width: 170px;
            height: 60px;
            color: white;
            background-color: orange;
            font-size: 1.5em;
            cursor: pointer;
        }
        #itemView-btn3{
			margin-top: 10px;
			margin-left: 10px;
            width: 170px;
            height: 60px;
            color: white;
            background-color: black;
            font-size: 1.5em;
            cursor: pointer;
        }
        #itemView-hr1{
        	width: 600px;
        }
        #itemView-h1{
            font-size: 3em;
        }
        #itemView-h2{
            font-size: 2.5em;
        }
        #itemView-h3-title{
        	font-size: 2em;
        }
        #itemView-h3{
        	font-size: 1.7em;
        }
        #itemView-h3-status{
            font-size: 2em;
        }