@charset "UTF-8";
        *{
            margin: 0;
            padding: 0;
        }
        .itemView-div{
        	margin-top: 100px;
        	margin-left: 150px;
            display: grid;
            justify-content: center;
        }
        #itemView-sec1{
            border: solid black 1px;
            width: 1000px;
            display: flex;
        }
        #itemView-sec2{
            border: solid black 1px;
            width: 1000px;
			height: 300px;
        }
        #itemView-img{
            width: 450px;
            height: 450px;
        }
        #itemView-table{
            display: grid;
            margin-left: 30px;
			text-align: center;
        }
        #itemView-btn{
			margin-top: 10px;
            width: 150px;
            height: 40px;
            color: white;
            background-color: black;
        }
        #itemView-h1{
            font-size: 2em;
        }
        #itemView-h2{
            font-size: 1.5em;
        }