@charset "UTF-8";
div.joinWrap{
    width: 1280px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
div.join{
	display: flex;
    flex-direction: column;
    align-items: center;
}
h2.joinForm{
    line-height: 100px;
}
form#joinForm{
    display: flex;
    flex-direction: column;

    gap: 30px;
}
table.info{
    width: calc(1280px*0.4);
}
tr.info{
    height: 60px;
}
tr#address{
	height: 210px;
}
td.info{
    border-spacing: 0;
}
td#address{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
td.txt{
	border-spacing: 0;
    width: calc(1280px*0.4 - 250px);
}
span#pwCriteria{
	font-size: 0.7em;
}
span#pwAlert{
	color:red;
    font-size: 0.7em;
   	display: none;
}
input.required{
    width: 250px;
    height: 40px;
}
input#sample6_postcode{
    width: 140px;
    height: 40px;
}
input#postcodeBtn{
    width: 100px;
    background-color: rgb(255,139,0);
    color: white;
    font-size: 0.7em;
    border: none;
    cursor: pointer;
}
input#sample6_detailAddress{
    width: 250px;
    height: 40px;
}
input#sample6_extraAddress{
    width: 250px;
    height: 40px;
}
span.alert{
    color:red;
    font-size: 0.7em;
    display: none;
}
span#checkId{
	display: block;
}
div.postcode{
    display: flex;
    justify-content: space-between;
}
div#pwAlert{
    display: flex;
    flex-direction: column;
}
div#idAlert{
    display: flex;
    flex-direction: column;
}
div.checkboxes{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.option{
    padding-left: 10px;
}
input.formButton{
    height: 50px;
    width: calc(1280px*0.2);
    background-color: rgb(255,139,0);
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
input#cancel{
    background-color: rgb(7, 48, 109);
    color: white;
    border: black solid 1px;
}