@charset "UTF-8";

div.loginWrap{
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
    "logo"
    "div";
    
}
h1#logo{
    display: flex;

    align-items: center;
    justify-content: center;
    grid-area: logo;
}
a#logo{
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
div.login{
    grid-area: div;

    display: flex;
    justify-content: center;
}
form.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    white-space: pre;
}
input.info{
    height: 40px;
    width: 250px;
}
input.btn{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
} 