@charset "UTF-8";
div.myZzimWrap{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.myZzim{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
div.myZzimTitle{
    height: 100px;
    display: flex;
    align-items: flex-end;
}
span#myZzimTitle{
    font-size: 2em;
    font-weight: bold;
}
table.myZzim{
    width: calc(1280px*0.5);
    border: solid 2px black;
    border-collapse: collapse;
}
tr.myZzim{
    border: solid 1px black;
    border-collapse: collapse;
}
th.no,td.no{
    width: 50px;
    text-align: center;
}
td.title{
    width: calc(1280px*0.5 - 400px);
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.title{
    width: calc(1280px*0.5 - 400px);
}
th.price,td.price{
    width: 100px;
	padding-left: 10px;
}
th.category,td.category{
    width: 100px;
    text-align: center;
}
th.date,td.date{
    width: 150px;
    text-align: center;
}
td.textWarning{
    text-align: center;
}
a.myZzimUrl{
    text-decoration: none;
    color: black;
}