@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	list-style-type:none
}
#wrap{
	display:grid;
}
#header_wrap{
	display:flex;
	justify-content: center;
}
#top_header{
	width: 1280px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
#main_wrap{
	display: flex;
	justify-content: center;
}
/*스크롤 해도 헤더 고정*/
header{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
main{	
	width: 1280px;
	height:1200px;
	padding-top: 200px; /* 메인부분 시작지점(조정예정) */
	background-color: gray;
}

#content{
	/*display: flex;*/
	width:100%;
	justify-content: center;
}
#content ul{
	width:100%;
	height:440px;
	background-color:aquamarine;
}

#content ul li{
	width:230px;
	height:200px;
	margin:10px;
	outline:1px solid #000;
	float:left;
}

#account ul li{
	display:inline-block;
	padding-top:13px;
}

#nav{
	/*display: flex;*/
	width:100%;
	justify-content: center;
	background-color:#fff;
}
#nav_inner{
	width:1280px;
	height:130px;
	margin:0 auto;
	background-color:pink;
}

/*#nav ul{
	width:200px;
	margin:0 auto;
}*/

#nav_inner ul{
	width:400px;
	height:50px;
	line-height:50px;
	margin:0;
}

#nav_inner ul li{
	display:inline-block;
	padding-right:13px;
}

#category{
	width:600px;
	height:80px;
	background-color:aquamarine;
	float:left;
}
#category ul{
	width:100%;
	height:50px;
	margin-top:20px;
}

#search_area{
	width:680px;
	height:50px;
	float:left;
}
#search_area form{
	width:100%;
	height:100%;	
}
#search_area div{
	width:100%;
	height:100%;
	margin-top:30px;
}
#search_area p{
	float:left;
}
#search_area .btnArea{
	width:40px;
	height:30px;
}
#search_area input{
	vertical-align:bottom;
}
#search_area button{
	width:40px;
	float:left;
}

footer{
	display: flex;
	height: 300px;
	justify-content: center;
}

/* 방식이 바뀌면서 재설계중 */