<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>login-server-mvc2</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	<!-- 변수명처럼 join을 선언하고, -->
	<!-- 해당 이름의 대상을 JoinServlet -->
	
	<servlet>
		<servlet-name>service</servlet-name>
		<servlet-class>controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
	
	<!--  jsp파일 맵핑도 가능 -->
	<servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/views/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>join</servlet-name>
		<jsp-file>/views/joinForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>
	
</web-app>
